<div class="image-banner">
  <img class="banner-image" src="https://images.unsplash.com/photo-1574529499335-2e28af85854d?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=800&q=60" alt="vacation home">
  <img class="banner-image" src="https://images.unsplash.com/photo-1564527424873-ced422096181?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=800&q=60" alt="vacation home">
  <img class="banner-image" src="https://images.unsplash.com/photo-1576109324778-3ec50ebdf7db?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=800&q=60" alt="vacation home">
</div>
<div class="my-bookings">
  <h1>My bookings:</h1>
  <div class="bookings-table">
    <table class="table table-bordered">
      <thead>
        <tr>
          <th>Vacation home</th>
          <th>Check in</th>
          <th>Check out</th>
          <th>Days total</th>
          <th>Number of guests</th>
        </tr>
      </thead>
      <tbody>
        <% @bookings.each do |booking| %>
          <tr>
            <td><%= booking.home.home_name %></td>
            <td><%= booking.start_date %></td>
            <td><%= booking.end_date %></td>
            <td><%= (booking.end_date - booking.start_date).to_i %></td>
            <td><%= booking.no_of_guest %></td>
            <td>
              <%= link_to 'Edit', edit_booking_path(booking) %>
              <%= link_to 'Delete', booking_path(booking), method: :delete, data: { confirm: 'Are you sure?'} %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
