<div class="container">
  <div class="card-product">
    <div class="contact-avatar" style="background-image: url('<%= cl_image_path current_user.photo.key, crop: :fill %>')">
      
    </div>
    <div class="card-product-infos">
      <h2><%= @user.name %></h2>
      <h2><%= @user.phone_number %> </h2>
      <h2><%= @user.email %> </h2>
      <p>Product description with <strong>relevant info</strong> only.
      In software development and product management, a user story is an informal, natural language
      description of one or more features of a software system. User stories are often written from
      the perspective of an end user or user of a system. They are often recorded on index cards, on
      st-it notes, or digitally in project management software[1] Depending on the project, user
      stories may be written by various stakeholders including clients, users, managers, or development
       team members.
      </p>
      <div class="edit-profile-btn">
        <%= link_to 'Edit Profile', edit_user_registration_path, class: 'btn btn-gradient' %>
      </div>
    </div>
  </div>
</div>
