<!-- Header -->
<header class="">
  <div class="container">
    <div class="d-flex justify-content-between align-items-center">
      <div class="py-10">
        <a class="" href="/"> <h2 class="logo-first">Time <em class="logo-second ">Sharer</em></h2></a>
      </div>

      <div class="py-10 d-none d-sm-block">
        <div class="text-white-menu">
          <div class="d-flex justify-content-between overflow-hidden">
            <% if user_signed_in? %>
              <%= link_to "Homes", homes_path, class: "nav-link text-white-menu-1 text-decoration-none" %>
              <%= link_to "My Bookings", bookings_path, class: "nav-link text-white-menu-2 text-decoration-none" %>
              <%= link_to "Create Home", new_home_path, class: "nav-link text-white-menu-3 text-decoration-none" %>
            <% end %>
          </div>
        </div>
      </div>

      <div class="py-10">
        <button class="navbar-toggler d-none" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="navbar-nav ml-auto action-buttons">
          <% if not user_signed_in? %>
            <div class="nav-item dropdown">
				      <a href="#" data-toggle="dropdown" class="nav-link dropdown-toggle mr-4">Login</a>
              <div class="dropdown-menu action-form">
                <%= simple_form_for(:user, url: session_path(:user)) do |f| %>
                  <div class="form-group-div" style="margin: 20px; width: 200px">
                    <%= f.input :email,
                                required: false,
                                autofocus: true,
                                placeholder: "Your Email",
                                input_html: { autocomplete: "email" } %>
                    <%= f.input :password,
                                required: false,
                                input_html: { autocomplete: "current-password" } %>
                  </div>
                  <input type="submit" class="btn btn-primary btn-block" value="Login">
                <% end %>
              </div>
			      </div>
			      <div class="nav-item dropdown">
				      <a href="#" data-toggle="dropdown" class="btn btn-primary dropdown-toggle sign-up-btn">Sign up</a>
                <div class="dropdown-menu action-form" style="padding: 20px; width: 300px">
        					<%= render 'devise/registrations/modal' %>
        				</div>
              </div>
          <% else %>

            <div class="">
              <li class="nav-item dropdown">
                <%= image_tag "https://res.cloudinary.com/dkdlmrgaf/image/upload/v1595508571/TimeSharer/stefan_profile_z9orch.jpg", class: "avatar dropdown-toggle", id: "navbarDropdown", data: { toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
                <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
                  <%= link_to "Homes", homes_path, class: "dropdown-item inline-block d-sm-none" %>
                  <%= link_to "Bookings", bookings_path, class: "dropdown-item inline-block d-sm-none" %>
                  <%= link_to "Create Home", new_home_path, class: "dropdown-item inline-block d-sm-none" %>
                  <div class="border-bottom inline-block d-sm-none" style="width: 90%; margin: 0 auto;"></div>
                  <%= link_to "Profile", user_path(current_user), class: "dropdown-item" %>
                  <%= link_to "Log out", destroy_user_session_path, method: :delete, class: "dropdown-item" %>
                </div>
              </li>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</header>
