<div class="add-home-form">
  <h1>Create Your New Home</h1> 
  <br>
  <%= simple_form_for(@home) do |f| %>
    <%= f.input :home_name %>
    <%= f.input :country, as: :country %>
    <%= f.input :city %>
    <%= f.input :address %>
    <%= f.input :maximum_no_of_guest %>
    <%= f.input :no_of_bed, :collection => %w[1 2 3 4 5 6+], include_blank: false, include_hidden: false, prompt: "Select no. of beds" %>
    <!-- Add Javascript for the below form to show up when no.of.bed is more than 6 -->
    <div class="form-group">
      <label for="beds">No. of beds</label>
      <input id="beds" class="form-control" type="number" name="user[no_of_bed]">
    </div>

    <div>
      <%= label_tag "shares_of_ownership" %>
      <br>
      <%= number_field_tag :shares_of_ownership %>
    </div>
    <br>
    <%= f.input :ranking, :collection => %w[First\ come\ first\ served Larger\ shares\ of\ ownerships], include_blank: false, include_hidden: false, prompt: "Select criteria" %>
    <br>
    
    <%= f.input :photo %>
    <br>

    <%= f.submit 'Create Home', class: "btn btn-ghost" %>
    <br>
    <br>
    <br>
  <% end %>
</div>
