<style>
  .carousel-item {
    height: 30vh;
    min-height: 350px;
    background: no-repeat center center scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }
</style>

<div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
  <ol class="carousel-indicators">
    <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
  </ol>
  <div class="carousel-inner" role="listbox">
    <!-- Slide One - Set the background image for this slide in the line below -->
    <div class="carousel-item active" style="background-image: url('https://res.cloudinary.com/dkdlmrgaf/image/upload/v1596116274/TimeSharer/index_2.1_vxdmgf.jpg')"></div>
    <!- Slide Two - Set the background image for this slide in the line below -->
    <div class="carousel-item" style="background-image: url('https://res.cloudinary.com/dkdlmrgaf/image/upload/v1596120107/TimeSharer/index_5.1_ek3ppd.jpg')"></div>
    <!- Slide Three - Set the background image for this slide in the line below -->
    <div class="carousel-item" style="background-image: url('https://res.cloudinary.com/dkdlmrgaf/image/upload/v1596117147/TimeSharer/index_3_stp4sw.jpg')"></div>
  </div>
  <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>

<!-- Banner Ends Here -->

<div class="container-of-cards">
  <div class="row">
    <div class="col-12 col-md-6 col-lg-6">
      <h1><strong>Your vacation homes:</strong></h1>
      <hr>
      <% current_user.homes.each do |home| %>
        <div class="home-cards">
          <%= link_to "", home_path(home), class: "link-spanner" %>
          <div class="home-cards-image">
            <%= cl_image_tag home.photo.key, crop: :fill %>
          </div>
          <div class="home-cards-body">
            <h6><strong><%= home.home_name %></strong></h6>
            <p><i class="fas fa-globe"></i><%= home.country %></p>
            <p><i class="fas fa-map-marker-alt"></i> <%= home.address %>, <%= home.city %></p>
            <p><i class="fas fa-users"></i>Up to <%= home.maximum_no_of_guest %> guests</p>
            <p><i class="fas fa-sort-amount-down"></i>Priority: <%= home.ranking %></p>
          </div>
        </div>
      <% end %>
      <%= link_to new_home_path, class: "create-home-btn btn btn-info" do %>
        <i class="fas fa-plus"></i>Add home
      <% end %>
    </div>
    <div class="col-12 col-md-6 col-lg-6">
      <div
        id="map"
        style="width: 100%; height: 100%;"
        data-markers="<%= @markers.to_json %>"
        data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>">
      </div>
    </div>
  </div>
</div>

