<div class="banner1">
    <img src="/images/download.jpeg" class="banner1"/>
</div>

<div class="namer"> <h1> <%= @home.country %></h1> </div>
<div class="butonis">
    <button class="btn border">Check-in</button>
    <button class="btn border"> Check-out</button>
    <button class="btn border"> Guests</button>
</div>

<%= link_to "Edit this Home", edit_home_path(@home) %>
<%= link_to "Delete this Home", home_path(@home), method: :delete %>
<%= link_to "Back to Overview Page", homes_path %>

<% @home.notes.each do |note| %>
  <div class="note-cards">
    <p>note</p>
  </div>
<% end %>

<%= simple_form_for ([@home, @note]) do |f| %>
  <%= f.input :content %>
  <%= f.submit %>
<% end %>
