<div class="banner1">
  <%= cl_image_tag @home.photo.key, width: 1600, height: 400,  crop: :fill %>
</div>

<div class="row">
  <div class="col-md-8 offset-md-2 text-warning ">
    <div id="bookings-calendar" data-bookings="<%= @bookings_json %>"></div>
  </div>
</div>

<div class="txt-form">
    <h1>Create a Booking</h1>
</div>

<%= render 'bookings/form', home: @home, booking: @booking %>

<%= link_to "Edit this Home", edit_home_path(@home) %>

<div class="notes">
  <div class="comment-form">
    <%= simple_form_for ([@home, @note]), html: { class: "note-form" } do |f| %>
      <%= f.input :content, label: "Leave a comment:" %>
      <%= f.submit 'Create Note', class: "btn btn-gradient"%>
    <% end %>
  </div>
  <div class="comments-index">
    <% @home.notes.each do |note| %>
      <div class="note-cards">
        <p> <strong><%= note.user.name %>:</strong> <%= note.content %></p>
      </div>
        <%= link_to 'Delete', note_path(note), method: :delete, class: "btn btn-danger" %>
    <% end %>
  </div>
</div>
