<div class="banner1">
    <img src="/images/download.jpeg" class="banner1"/>
</div>

<div class="namer"> <h1> <%= @home.country %></h1> </div>
<div class="butonis">
    <button class="btn border">CHeck-IN </button>
    <button class="btn border"> CHeck-Out</button>
    <button class="btn border"> Guests</button>
</div>

<div class="txt-form">
    <h1>Create a Booking</h1>
</div>
<div class="simpl-form-booking">
    <%= simple_form_for ([@home, @booking])  do |f| %>
    <%= f.input :start_date, as: :string, input_html: {class: "datepicker"} %>
    <%= f.input :end_date, as: :string, input_html: {class: "datepicker"} %>
    <%= f.input :no_of_guest, collection: %w[1 2 3 4 5 6 7 8 9 10] %>
    <%= f.submit %>
    <% end %>


<%= link_to "Edit this Home", edit_home_path(@home) %>
<%= link_to "Delete this Home", home_path(@home), method: :delete %>
<%= link_to "Back to Overview Page", homes_path %>

