<div class="image-banner">
  <img class="banner-image-left" src="https://res.cloudinary.com/dkdlmrgaf/image/upload/v1595910044/TimeSharer/copenhagen_interior_5_c0sfot.jpg" alt="vacation home">
  <img class="banner-image-main" src="https://res.cloudinary.com/dkdlmrgaf/image/upload/v1595909712/TimeSharer/copenhagen_interior_4_e091dp.jpg" alt="vacation home">
  <img class="banner-image-right" src="https://res.cloudinary.com/dkdlmrgaf/image/upload/v1595908896/TimeSharer/copenhagen_interior_1_zhn0mt.png">
</div>

<div class="container">
  <h1 class="booking-header">Make a booking of <%= @home.home_name %></h1>
  <div class="calendar-and-description-box d-flex justify-content-center align-items-center">
    <div class="calendar">
      <div id="bookings-calendar" data-bookings="<%= @bookings_json %>"></div>
    </div>

    <div class="col-xs-12 col-md-4 col-lg-4">
      <div class="">
        <div class="home-show-cards">
          <div class="home-show-cards-image">
            <%= cl_image_tag @home.photo.key, crop: :fill %>
          </div>
          <div class="home-show-cards-body">
            <h4><strong><%= @home.home_name %></strong></h4>
            <hr class="home-cards-hr">
            <p><i class="fas fa-globe"></i><%= @home.country %></p>
            <p><i class="fas fa-map-marker-alt"></i> <%= @home.address %>, <%= @home.city %></p>
            <p><i class="fas fa-users"></i>Up to <%= @home.maximum_no_of_guest %> guests</p>
            <p><i class="fas fa-bed"></i><%= @home.no_of_bed %> beds available</p>
            <p><i class="fas fa-sort-amount-down"></i>Priority: <%= @home.ranking %></p>
            <%= link_to home_ownerships_path(@home), class: "edit-icon" do %>
              <i class="fas fa-user-circle"></i>See owners
            <% end %>
            <%= link_to home_bookings_home_path, class: "search-icon" do %>
              <i class="fas fa-search"></i>Show all bookings
            <% end %>
            <!-- <p><i class="fas fa-edit"></i><%= link_to "Edit home", edit_home_path(@home) %></p> -->



            <div class="home-show-cards-button">
              <!-- Button trigger modal -->
              <div>
                <a href="#" class="btn btn-info w-100" data-toggle="modal" data-target="#booking">Make a booking</a>
              </div>
            </div>


              <!-- Modal -->
              <div class="modal fade" id="booking" tabindex="-1" role="dialog" aria-labelledby="booking" aria-hidden="true">
                <div class="modal-dialog">
                  <div class="modal-content">
                    <div>
                      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                      </button>
                    </div>
                    <div class="modal-body">
                      <div class="">
                        <div class="d-flex justify-content-center align-items-center">
                          <div class="" style="width: 400px; margin-bottom: 40px;">
                            <%= render 'bookings/form', home: @home, booking: @booking %>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <br>
    </div>
  </div>
</div>
<div class="text-center">
  <h1 class="note-header">Notes</h1>
  <div class="d-flex justify-content-center align-items-center">
    <div class="">
      <!-- Button trigger modal -->
      <div class="pl-10">
        <a href="#" class="leave-note-button btn" data-toggle="modal" data-target="#leave">Leave a note<a>
      </div>

      <!-- Modal -->
      <div class="modal fade" id="leave" tabindex="-1" role="dialog" aria-labelledby="leave" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="pr-10">
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <div class="">
                <div class="d-flex justify-content-center align-items-center">
                  <div class="" style="width: 400px; margin-bottom: 40px;">
                    <div class="post-form-leave mb-4">
                      <%= image_tag "https://res.cloudinary.com/dkdlmrgaf/image/upload/v1595508571/TimeSharer/stefan_profile_z9orch.jpg", class: "avatar img avatar-note"%>
                      <%= simple_form_for ([@home, @note]), html: { class: "form-inline note-form " } do |f| %>
                      <div class="form-group grow-one">
                        <%= f.input :content, label: false, class: "inpt" %>
                        <%= f.submit 'Comment', class: "btn btn-info note-btn"%>
                      </div>
                      <% end %>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="notess">
  <% @notes.each do |note| %>
    <div class="note-post mt-3">
      <%= image_tag "https://res.cloudinary.com/dkdlmrgaf/image/upload/v1595508571/TimeSharer/stefan_profile_z9orch.jpg", class: "avatar avatar-note postt"%>
      <div class="note-details">
        <div class="title">
          <div class="username">
            <p><strong><%= note.user.name %></strong></p>
          </div>
          <div class="date">
            <p><%= note.created_at.strftime("%b %e, %l:%M %p") %></p>
          </div>
        </div>
        <hr class="note-hr">
        <div class="content mb-3">
          <p><%= note.content %></p>
        </div>
        <hr class="note-hr">
        <div class="actions">
          <div class="pr-10">
          <%= link_to 'Edit', note_path(note), method: :delete, class: "note-button btn btn-outline-secondary" %>
          </div>
          <%= link_to 'Delete', note_path(note), method: :delete, class: "note-button btn btn-outline-secondary" %>
        </div>
      </div>
    </div>
  <% end %>
</div>

<div class="container pb-10" style="width: 100%;">
  <div id="map"
    style="width: 100%; height: 300px; border-radius: 4px;"
    data-markers="<%= @markers.to_json %>"
    data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>">
  </div>
</div>


